.black {
    background-color: black;
}

.white {
    background-color: white;
}

.cell {
    height: 30px;
    width:  30px;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, auto);
    justify-content: start;
}