.category {
    padding: 5px 10px;
    margin: 5px;
    text-wrap: nowrap;
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
}

section {
    display: grid;
    gap: 2em;
    max-width: 768px;
    margin: 2em auto;
}

.product-container {
    background-color: #006680;
    color: white;
    padding: 1em;
    border-radius: 5px;
    gap: 5px;
    display: grid;
    grid-template:
            "title price"
            "description description"
            "category cart" / 1fr 1fr;
    align-content: start;
}

.product-title {
    grid-area: title;
    color: white;
    text-align: left;
}

.product-category {
    grid-area: category;
    padding: 5px 10px;
    background-color: white;
    color: #006680;
    width: min-content;
}

.product-price {
    grid-area: price;
    justify-self: end;
}

.product-cart {
    grid-area: cart;
    justify-self: end;
}

.product-description {
    grid-area: description;
    display: none;
}

@media (width >= 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }


    .product-description {
        display: block;
    }
}